.DS_Store

/android_api_statistic/target/
/android_api_statistic/result/
/android_api_statistic/clone_lib_list

/3rd_party_api_statistic/target/
/3rd_party_api_statistic/result/
/3rd_party_api_statistic/clone_lib_list

/github_star_count/github_token
